{% load static %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<!-- Bootstrap js-->
<script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<!-- feather icon js-->
<script src="{% static 'assets/js/icons/feather-icon/feather.min.js' %}"></script>
<script src="{% static 'assets/js/icons/feather-icon/feather-icon.js' %}"></script>
<!-- scrollbar js-->
<script src="{% static 'assets/js/scrollbar/simplebar.js' %}"></script>
<script src="{% static 'assets/js/scrollbar/custom.js' %}"></script>
<!-- Sidebar jquery-->
<script src="{% static 'assets/js/config.js' %}"></script>
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets/js/sidebar-pin.js' %}"></script>
<script src="{% static 'assets/js/slick/slick.min.js' %}"></script>
<script src="{% static 'assets/js/slick/slick.js' %}"></script>
<script src="{% static 'assets/js/header-slick.js' %}"></script>
<script src="{% static 'assets/js/chart/morris-chart/raphael.js' %}"></script>
<script src="{% static 'assets/js/chart/morris-chart/morris.js' %}"> </script>
<script src="{% static 'assets/js/chart/morris-chart/prettify.min.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/apex-chart.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/stock-prices.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/moment.min.js' %}"></script>
<script src="{% static 'assets/js/notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'assets/js/dashboard/default.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom1.js' %}"></script>
<script src="{% static 'assets/js/owlcarousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/owlcarousel/owl-custom.js' %}"></script>
<script src="{% static 'assets/js/typeahead/handlebars.js' %}"></script>
<script src="{% static 'assets/js/typeahead/typeahead.bundle.js' %}"></script>
<script src="{% static 'assets/js/typeahead/typeahead.custom.js' %}"></script>
<script src="{% static 'assets/js/typeahead-search/handlebars.js' %}"></script>
<script src="{% static 'assets/js/typeahead-search/typeahead-custom.js' %}"></script>
<script src="{% static 'assets/js/height-equal.js' %}"></script>

<!-- Theme js-->
<script src="{% static 'assets/js/script.js' %}"></script>
<!-- Plugin used-->